<section class="book-images-frame col-md-3 col-xs-12">
  <% if @review.image_url? %>
    <%= image_tag "#{@review.image_url}",class: "book-images-cover",style:"height:400px;width:300px;" %>
  <% else %>
  <% end %>
</section>
<section class="book-content col-md-6 col-xs-12">
  <div class="book-title-frame">
    <div class="book-title-block">
      <h2>タイトル</h2>
      <%= @review.name %>
    </div>
  </div>
  <div class="book-attribute-frame">
    <h2>著者</h2>
    <div class="book-author">
      <%= @review.author %>
    </div>
  </div>
  <div class="book-content">
    <h2>紹介</h2>
    <%= simple_format (@review.introduction) %>
    <h2>評価</h2>
    <% if @review.rate == "1" %>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    <% elsif @review.rate == "2" %>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    <% elsif @review.rate == "3" %>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    <% elsif @review.rate == "4" %>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    <% elsif @review.rate == "5" %>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <% else %>
      未回答
    <% end %>
    <h2>感想</h2>
    <%= simple_format (@review.review) %>
  </div>
  <div class="row"><%= link_to "一覧",reviews_path %>/<%= link_to "削除",review_path(@review),method: :delete %></div>
</section>